:root {
    --primary-color: #F28705;
    --secondary-color: #F29F05;
    --thirdary-color: #F2B705;
    --fourthary-color: #260B01;
    --fifthary-color: #401E01;
    --sixthary-color: #D93D04;
}

/*Small screens*/

/*Modal example from : https://www.w3schools.com/howto/howto_css_modals.asp*/
/*Some modifications have been added to suit my purposes*/
.w3-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.w3-modal-content {
    background: var(--secondary-color);
}

.w3-container {
  background-color: var(--thirdary-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
}

/*No longer needed, but keeping just in case*/
/* .w3-modal-content {
    width: 95%;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}
.w3-container {
    width: 95%;
    background: var(--thirdary-color);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
} */

/*Close dialog button thing*/
#dialog-close {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--sixthary-color);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 1%;
    top: 1%;
}

/*Hidden class*/
.hidden {
    display: none;
}

/*Next buttons*/
.next-button {
    display: block;
    margin: auto;
}

/*Typography*/
p {
    text-align: center;
}
textarea {
    width: 100%;
}