:root {
    --primary-color: #F28705;
    --secondary-color: #F29F05;
    --thirdary-color: #F2B705;
    --fourthary-color: #260B01;
    --fifthary-color: #401E01;
    --sixthary-color: #D93D04;
}

/*Small screens*/
.w3-modal-content {
    width: 95%;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}
.w3-container {
    width: 95%;
    background: var(--thirdary-color);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

.w3-container {
    position: relative;
}

/*Close dialog button thing*/
#dialog-close {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--sixthary-color);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 1%;
    top: 1%;
}

/*Hidden class*/
.hidden {
    display: none;
}

/*Next buttons*/
.next-button {
    display: block;
    margin: auto;
}

/*Typography*/
p {
    text-align: center;
}