:root {
    --primary-color: #F28705;
    --secondary-color: #F29F05;
    --thirdary-color: #F2B705;
    --fourthary-color: #260B01;
    --fifthary-color: #401E01;
    --sixthary-color: #D93D04;
}

/*Small Screens*/
/* Duck items */
#all-ducks-main {
    text-align: center;
}
.all-ducks {
    width: 95%;
    background: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    position: relative;
}
.all-ducks a {
    text-align: center;
}

/* Columns */
.columns {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

 /*Duck button*/
    #duck-button {
        display: block;
        margin: auto;
        padding: 5px;
    }

    /*Delete duck button*/
        #delete-button {
            position: absolute;
            top: 2%;
            left: 1%;
        }


/*Typography*/
.all-ducks a {
    color: var(--sixthary-color);
    text-decoration: none;
    background: var(--secondary-color);
    padding: 10px;
}

/*Big screens*/
@media only screen and (min-width: 768px) {
.all-ducks {
        width: 20%;
}
    .columns {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
    .all-ducks a {
        width: 80%;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0%;
        left: 7%;
    }
}