:root {
    --primary-color: #F28705;
    --secondary-color: #F29F05;
    --thirdary-color: #F2B705;
    --fourthary-color: #260B01;
    --fifthary-color: #401E01;
    --sixthary-color: #D93D04;
}

/*Small screens*/
#favducks-main {
    text-align: center;
}
.fav-ducks {
    width: 95%;
    background: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}
.fav-ducks a {
    text-align: center;
}

/*Typography*/
.fav-ducks a {
    color: var(--sixthary-color);
    text-decoration: none;
    background: var(--secondary-color);
    padding: 10px;
}

/*Big screens*/
@media only screen and (min-width: 768px) {
    .fav-ducks {
        width: 20%;
        position: relative;
}
.fav-ducks a {
        width: 80%;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0%;
        left: 7%;
    }
}