/*Smaller screens*/
/* Main navigation */
#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}
#main-nav a {
    text-decoration: none;
}
#main-nav li {
    border-bottom: 1px solid var(--primary-color);
}
#main-nav li:first-child {
    border-top: 1px solid var(--primary-color);
}
#main-nav a {
    color: var(--sixthary-color);
    padding: 10px 0;
    display: block;
}
#main-nav a:hover {
    background: var(--primary-color);
}

/*Hidden class*/
.hide-small {
    display:none;
}

/*Hamburger menu*/
.hamburger {
    cursor: pointer;
    padding: 10px;
    color: var(--sixthary-color);
}

@media only screen and (min-width: 768px) {
    /* Columns */
    #main-nav .columns {
        display: flex;
    }
    
    /* Main navigation */
    #main-nav li {
        flex: 1;
    }
    #main-nav li, #main-nav li:first-child {
    border: none;
    }
    #main-nav a {
    text-align: center;
    padding: 10px;
    }
    #main-nav a:hover {
        border-bottom: 1px solid var(--primary-color);
        background: var(--thirdary-color);
    }

    /*Hamburger*/
    .hamburger {
        display: none;
    }

    /*Hidden class*/
    .hide-small {
        display: block;
    }
}